body {
    font-family: 'Cinzel', serif;
    background-color: #F5F5F5;
    color: #333;
}

#filterInput:focus {
    border-bottom: 1px solid #2E86AB;
    box-shadow: 0 1px 0 0 #2E86AB;
}

li a {
    color: #2E86AB;
}